<center>


<h2>Excellent choice. Get a link to this photo via e-mail.</h2>



<div>

<!-- create a /mail route which will go to the controller - that controller method will call the mailer -->

<%= form_tag("users/create", method: "get") do %>
<img class="animated bounceInLeft" src="<%=@picture_chosen.photo_url%>" style="width:304px;">
<div>
	<%= hidden_field_tag(:photo_url, @picture_chosen.photo_url) %>
	<%= email_field(:user, :email_address) %>
	<%= submit_tag("Get your photo") %>
<% end %>
</div>
<center>
