<center>
  <nav class="navbar navbar-default">
    <h1 class="hide-font">PicPicker</h1>
  </nav>


<h1 class="hide-font2">Which is your favorite?	</h1>
<%=form_tag(comparisons_path) do %>
  <table>
    <tr >
      <td>
        <img class="animated bounceInLeft" src="<%=@picture_chosen.photo_url%>" style="width:330px;">
      </td>
      <td>
        <img class="animated bounceInRight" src="<%=@second_pic.photo_url%>" style="width:330px;">
      </td>
    </tr>
    <tr>
      <td>
        <%= radio_button_tag :id, @picture_chosen.id  %>
      </td>
      <td>
        <%= radio_button_tag :id, @second_pic.id %>
      </td>
    </tr>
  </table>

<%= hidden_field_tag 'comparison_id', @picture_chosen.comparison_id %>
<%= hidden_field_tag 'id1', @picture_chosen.id %>
<%= hidden_field_tag 'id2', @second_pic.id %>
<%=submit_tag("Submit", :class=>"hide-btn")%>

<%end%>
</center>
