
<h2>Picture(second)</h2>


<%=form_tag(comparisons_path) do %>
<div class="animated bounceInRight">
<img src="<%=@picture_chosen.photo_url%>" style="width:304px;">
</div>

<%= radio_button_tag :id, @picture_chosen.id  %>
<%=label_tag(:id, "Like it better")%>

<div class="animated bounceInLeft">
<img src="<%=@second_pic.photo_url%>" style="width:304px;">
</div>
<%= radio_button_tag :id, @second_pic.id %>
<%=label_tag(:id, "Like it better")%>

<%= hidden_field_tag 'comparison_id', @picture_chosen.comparison_id %>
<%= hidden_field_tag 'id1', @picture_chosen.id %>
<%= hidden_field_tag 'id2', @second_pic.id %>

<div>

<%=submit_tag("Pick")%>
</div>

<%end%>
