<center>
<h2>Which is your favorite?	</h2>

<%=form_tag(comparisons_path) do %>

<img class="animated bounceInRight" src="<%=@selected_pics[0].photo_url%>" style="width:304px;">


<img class="animated bounceInLeft" src="<%=@selected_pics[1].photo_url%>" style="width:304px;">

<div>
<%= radio_button_tag :id, @selected_pics[0].id  %>
<%=label_tag(:id, "this one", class: "choice")%>

<%= radio_button_tag :id, @selected_pics[1].id %>
<%=label_tag(:id, "this one")%>
</div>

<%= hidden_field_tag 'comparison_id', @selected_pics[0].comparison_id %>
<%= hidden_field_tag 'id1', @selected_pics[0].id %>
<%= hidden_field_tag 'id2', @selected_pics[1].id %>

<div>

<%=submit_tag("Pick")%>
</div>

<%end%>
</center>
